@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title"
        "coverimg content"
        "button button";
    padding: 3%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.coverimg {
    grid-area: coverimg;
    height: 400px;
    width: 300px;
    object-fit: contain;
    justify-content: center;
}

.content {
    grid-area: content;
    font-size: 18px;
    text-align: start;
}

.button {
    grid-area: button;
    padding-top: 3rem;
}

.title {
    grid-area: title;
    font-size: 30px;
}