.main{
    margin: 7%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login {
    background-color:beige; 
    padding: 2%;
    border-radius: 2rem;
}
