.main{
    margin: 7.9%;
    padding: 0% 10% 0% 10%;
    display: grid;
    justify-content: center;
    align-items:center;
}

.signupContainer{
    background-color:rgba(255, 255, 255, 0.647); ; 
    padding: 2%;
    border-radius: 2rem;
    
}